/scripts/data
/raw data/combined_data.csv
/scripts/combined_data_with_embeddings.parquet
/raw data/combined_data_with_embeddings.parquet
/scripts/.DS_Store
.DS_Store
code/embeddings-SBERT-all-MiniLM-L6-v2.parquet
